# NodeCG
node_modules/
/bundles/*/node_modules/
/bundles/*/dashboard/
/bundles/*/graphics/
logs/
db/
/assets/

# Release build
dist/

cfg/*.json
!cfg/nodecg.json

examples/
tools/
data/streamer.json
data/coming_up.json

.github/

# Windows alternate data streams
*:Zone.Identifier
